<h2>List of Animals</h2>
{{!-- action portion of the form is what decides the route that will be called when submitting the form --}}
<form action="/animals/create" method="post">
{{!--  method of the form decids request type being made (get/post) --}}
<label for="animal-name-input">
   Animal Name:
<input id = "animal-name-input" type="text" placeholder="Enter info" name="name">
</label>

<label for="isMale-checkbox">
   MALE?:
<input id = "isMale-checkbox" type="checkbox" placeholder="Enter info" name="isMale">
</label>

<label for="isFemale-checkbox">
   FEMALE?:
<input id = "isFemale-checkbox" type="checkbox" placeholder="Enter info" name="isFemale" value ="true">
</label>






{{!-- button in a form will submit data inside of that form --}}
<br>
<button>Create</button>


</form>


<h2>List of Animals</h2>
<div class ="animals__container">
    {{#each animals}}
    <div class ="animals__box">
            <h3>NAMEL {{this.name}}</h3>
        {{#if this.isMale}}
            <h3>This Animal is a male</h3>
        {{else}}
           <h3>This Animal is a female</h3>
        {{/if}}
        
        <a href="/animals/details/{{this._id}}">See more details here</a>

    </div>

    {{/each}}
</div>