body {
    background-color: blueviolet;
}

.content-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
}

.pokeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 17%;
    height: 7vw;
    margin: 1vw 1.5vw;
    background-color: sandybrown;
    border: 1.5px solid cyan;
}